.admin-layout {
  display: flex;
  min-height: calc(100vh - 60px); /* 100vh menos el alto del footer */
  /* si tu footer tiene otro alto, ajusta este valor */
  background: linear-gradient(135deg, #fdfcf7 0%, #e8f5e1 40%, #cfe8cf 100%);
}

app-aside {
  flex: 0 0 220px; /* ancho fijo para el aside */
}

.admin-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
